@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


:root {
  --primary-color: #660ea1;
  --primary-color-dark: #9333ea;
  --secondary-color: #083ac2;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("/final/images/background_logo.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}


nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color:var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
  text-decoration: none;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: white;
  transition: 0.3s;
}



ul li a:hover {
  border-top-color: var(--primary-color-dark);
  border-bottom-color: var(--primary-color-dark);
  color: var(--primary-color-dark);
}

.button-like-text_2:hover{
  border-top-color: var(--primary-color-dark);
  border-bottom-color: var(--primary-color-dark);
  color: var(--primary-color-dark);
  cursor: pointer;
}

.button-like-text_2{
  padding: 0.5rem 1rem;
  border: 5px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--extra-light);
  transition: 0.3s;
  background-color: #011338;
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.title {
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: white;
  margin-bottom: 2rem;
  max-width: 400px;
}

.login-form {
  display: grid;
  place-items: center;
  max-width: 600px;
  padding:10px;
  margin: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.form-group{
    margin-bottom:30px;
    width: 300px;
}

.sign-text {
  margin-bottom: 40px;
  color: var(--extra-light);
}

.button-like-text {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: rgb(61, 153, 187); 
}

.button-like-text:focus {
  outline: none;
}

.button-like-text:hover {
  color: var(--primary-color-dark);
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.error_msg{
  color: red;
  font-size: 15px;
}




/* MODAL styles */
.modal-content{
  background-color: rgba(255, 255, 255, 0.2);
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  body {
    font-family: "Poppins", sans-serif;
      background: url("/final/images/background.gif");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: scroll;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .button-like-text_2{
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .description {
    line-height: 1.5rem;
    color: white;
    margin-bottom: 2rem;
    max-width: 500px;
  }

  .not_statement{
    padding-top: 20px;
  }
}

